<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/js/header.js"></script>
	</head>
	
	<body>
		<header>
		    <a href="/" class="logo">Floral</a> <!-- 로고 클릭 시 홈으로 이동 -->
		    <div class="nav">
		        <a href="/">홈</a>
		        <a href="#">상품</a>
				<a href="/board">게시판</a>
		        <a href="#">문의</a>
		    </div>
			
				
			<div class="auth-buttons">
				<!-- 로그인 상태에 따라 버튼 교체 -->
				<div class="login-button">
				    <a href="/login">로그인</a>
				    <a href="/signUp">회원가입</a>
			    </div>
				<div class="logout-button">
					<span class="welcome-message" th:text="'환영합니다, ' + ${session.username} + '님!'"></span>		    
					<a href="/logout">로그아웃</a>
			    </div>
		    </div> 
		</header>
	</body>
	
</html>