
<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
	<!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="/css/signUp.css">
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="/signUp" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="phone_number" placeholder="Phone Number">
            <input type="text" name="address" placeholder="Address">
            <select name="role" required>
                <option value="BUYER">Buyer</option>
                <option value="SELLER">Seller</option>
            </select>
            <button type="submit">Sign Up</button>
        </form>
		<!-- 에러 메시지 출력 -->
		<div th:if="${error}">
		    <p th:text="${error}" style="color: red;"></p>
		</div>
    </div>
</body>
</html>