<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기 - Floral</title>
	<!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
	<!-- JavaScript 파일 연결 -->

</head>

<body>
	
	<!-- 헤더 부분 -->
	<div th:include="~{header.html}"></div>
	
		
    <div class="container">
        <h2>게시판 글쓰기</h2>
        <form action="/write" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" name="title" placeholder="제목 입력" required>
				
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea name="content" placeholder="내용 입력" required></textarea>
            </div> 
            <div class="button-group">
                <button type="submit">작성 완료</button>
            </div>
        </form>
    </div>

	<!-- 푸터 부분 -->
    <div th:include="~{footer.html}"></div>
	
</body>
</html>
